{
  "openapi": "3.1.0",
  "info": {
    "title": "FoN API",
    "description": "API for the FoN (Fucks or Not) community voting platform. Upload images and links, vote on content, and discover what fucks.",
    "version": "1.0.0",
    "contact": {
      "email": "support@fucksornot.com"
    }
  },
  "servers": [
    {
      "url": "https://fucksornot.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "cookieAuth": []
    }
  ],
  "tags": [
    { "name": "Authentication", "description": "User authentication and session management" },
    { "name": "MFA", "description": "Multi-factor authentication setup and verification" },
    { "name": "API Tokens", "description": "API token generation and management" },
    { "name": "Uploads", "description": "Content upload and management" },
    { "name": "Voting", "description": "Vote on uploads" },
    { "name": "Tags", "description": "Content categorization and discovery" },
    { "name": "Media", "description": "Image and thumbnail retrieval" },
    { "name": "User", "description": "User profile and content" },
    { "name": "Admin", "description": "Administrative operations" }
  ],
  "paths": {
    "/api/auth": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Register or Login",
        "description": "Create a new account or authenticate an existing user",
        "operationId": "authRegisterLogin",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/RegisterRequest" },
                  { "$ref": "#/components/schemas/LoginRequest" }
                ]
              },
              "examples": {
                "register": {
                  "summary": "Register new user",
                  "value": {
                    "action": "register",
                    "email": "user@example.com",
                    "username": "johndoe",
                    "password": "SecurePassword123!"
                  }
                },
                "login": {
                  "summary": "Login existing user",
                  "value": {
                    "action": "login",
                    "email": "user@example.com",
                    "password": "SecurePassword123!",
                    "mfaCode": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/auth/check": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Check Authentication Status",
        "description": "Verify if the current session is authenticated and get user info",
        "operationId": "authCheck",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "Authentication status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthCheckResponse" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Logout",
        "description": "End the current session and revoke the JWT token",
        "operationId": "authLogout",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "Successfully logged out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/forgot-password": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Request Password Reset",
        "description": "Send a password reset email to the specified address",
        "operationId": "forgotPassword",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": { "type": "string", "format": "email" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset email sent (if account exists)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Reset Password",
        "description": "Set a new password using a reset token",
        "operationId": "resetPassword",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ResetPasswordRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password successfully reset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "Password has been reset successfully. You can now log in with your new password." }
                  }
                }
              }
            }
          },
          "401": {
            "description": "MFA verification required (mfaCode missing or invalid)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": { "type": "integer", "example": 401 },
                    "message": { "type": "string", "example": "Additional verification required" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "challenge": { "type": "string", "example": "verification_required" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/change-password": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Change Password",
        "description": "Change the password for the authenticated user",
        "operationId": "changePassword",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChangePasswordRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password successfully changed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "requireRelogin": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/mfa/setup": {
      "post": {
        "tags": ["MFA"],
        "summary": "Setup MFA",
        "description": "Initialize multi-factor authentication for the account",
        "operationId": "mfaSetup",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "MFA setup data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MFASetupResponse" }
              }
            }
          }
        }
      }
    },
    "/api/auth/mfa/verify": {
      "post": {
        "tags": ["MFA"],
        "summary": "Verify MFA Setup",
        "description": "Complete MFA setup by verifying a TOTP code",
        "operationId": "mfaVerify",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["mfaCode"],
                "properties": {
                  "mfaCode": { "type": "string", "pattern": "^[0-9]{6}$" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MFA successfully enabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/mfa/disable": {
      "post": {
        "tags": ["MFA"],
        "summary": "Disable MFA",
        "description": "Disable multi-factor authentication (requires current password and a valid MFA code)",
        "operationId": "mfaDisable",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["password", "mfaCode"],
                "properties": {
                  "password": { "type": "string", "description": "Current account password" },
                  "mfaCode": { "type": "string", "pattern": "^[0-9]{6}$" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MFA successfully disabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Password is required to disable MFA",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/auth/tokens": {
      "get": {
        "tags": ["API Tokens"],
        "summary": "List API Tokens",
        "description": "Get all API tokens for the authenticated user",
        "operationId": "listApiTokens",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of API tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ApiToken" }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/tokens/generate": {
      "post": {
        "tags": ["API Tokens"],
        "summary": "Generate API Token",
        "description": "Create a new API token for programmatic access",
        "operationId": "generateApiToken",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string", "maxLength": 100 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Newly created API token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiTokenCreated" }
              }
            }
          }
        }
      }
    },
    "/api/auth/tokens/{id}": {
      "delete": {
        "tags": ["API Tokens"],
        "summary": "Revoke API Token",
        "description": "Delete an API token to revoke access",
        "operationId": "revokeApiToken",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Token successfully revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/upload": {
      "post": {
        "tags": ["Uploads"],
        "summary": "Create Upload",
        "description": "Upload an image or submit a link for community voting",
        "operationId": "createUpload",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": { "$ref": "#/components/schemas/UploadRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload created successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UploadResponse" }
              }
            }
          },
          "200 ": {
            "description": "Duplicate detected",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DuplicateResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid request (e.g. file too large, max 10MB; invalid upload_type; missing required fields)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v1/upload": {
      "post": {
        "tags": ["Uploads"],
        "summary": "Create Upload (API Token)",
        "description": "Upload content using an API token instead of session cookie. Only `upload_type` values of `image` or `link` are supported here — `image_url` is not available on this endpoint and returns a 400 error.",
        "operationId": "createUploadApiToken",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": { "$ref": "#/components/schemas/UploadRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload created successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UploadResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid request (e.g. unsupported upload_type, file too large, missing required fields)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/upload/{id}": {
      "get": {
        "tags": ["Uploads"],
        "summary": "Get Upload",
        "description": "Retrieve details for a specific upload",
        "operationId": "getUpload",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Upload details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Upload" }
              }
            }
          },
          "404": {
            "description": "Upload not found"
          }
        }
      },
      "delete": {
        "tags": ["Uploads"],
        "summary": "Delete Upload",
        "description": "Delete an upload (owner only)",
        "operationId": "deleteUpload",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Upload deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string", "example": "Upload deleted successfully" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Upload not found (also returned if the upload exists but you're not the owner, to avoid confirming its existence)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/upload/{id}/privacy": {
      "patch": {
        "tags": ["Uploads"],
        "summary": "Update Privacy",
        "description": "Toggle the privacy setting of an upload between public and private. This endpoint ignores the request body — calling it once toggles the current state, regardless of any body sent.",
        "operationId": "updateUploadPrivacy",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Privacy toggled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "upload": { "$ref": "#/components/schemas/Upload" },
                    "is_private": { "type": "integer", "enum": [0, 1], "description": "The upload's privacy state after the toggle" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Upload not found, or you're not the owner (both return 404)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/uploads": {
      "get": {
        "tags": ["Uploads"],
        "summary": "List Uploads",
        "description": "Get paginated list of all public uploads",
        "operationId": "listUploads",
        "security": [],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 10, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated uploads",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UploadListResponse" }
              }
            }
          }
        }
      }
    },
    "/api/uploads/filtered": {
      "get": {
        "tags": ["Uploads"],
        "summary": "Filter Uploads by Tags",
        "description": "Get uploads filtered by included tags",
        "operationId": "filterUploads",
        "security": [],
        "parameters": [
          {
            "name": "tags",
            "in": "query",
            "description": "Comma-separated tag names to include",
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 10, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered uploads",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UploadListResponse" }
              }
            }
          }
        }
      }
    },
    "/api/items-recent": {
      "get": {
        "tags": ["Uploads"],
        "summary": "Recent Items",
        "description": "Get the 6 most recently uploaded items",
        "operationId": "recentItems",
        "security": [],
        "responses": {
          "200": {
            "description": "Recent items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Upload" }
                    },
                    "type": { "type": "string", "example": "recent" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/items-top-voted": {
      "get": {
        "tags": ["Uploads"],
        "summary": "Top Voted Items",
        "description": "Get the top 6 highest voted items. Takes no query parameters.",
        "operationId": "topVotedItems",
        "security": [],
        "responses": {
          "200": {
            "description": "Top voted items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Upload" }
                    },
                    "type": { "type": "string", "example": "top-voted" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/vote": {
      "post": {
        "tags": ["Voting"],
        "summary": "Submit Vote",
        "description": "Vote on an upload (authenticated users)",
        "operationId": "submitVote",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VoteRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vote recorded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoteResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid vote value, or invalid/inaccessible upload ID",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (30 votes per minute)"
          }
        }
      },
      "get": {
        "tags": ["Voting"],
        "summary": "Get Vote",
        "description": "Get the authenticated user's vote on a specific upload",
        "operationId": "getUserVote",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "uploadId",
            "in": "query",
            "required": true,
            "description": "The upload to check the current user's vote for",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "The user's vote on this upload, or null if they haven't voted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "vote": {
                      "type": "string",
                      "enum": ["fucks", "does_not_fuck"],
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "uploadId query parameter is required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/vote/anonymous": {
      "post": {
        "tags": ["Voting"],
        "summary": "Anonymous Vote",
        "description": "Vote on an upload without authentication (uses fingerprinting)",
        "operationId": "anonymousVote",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AnonymousVoteRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vote recorded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AnonymousVoteResponse" }
              }
            }
          }
        }
      }
    },
    "/api/tags": {
      "get": {
        "tags": ["Tags"],
        "summary": "List Tags",
        "description": "Get all tags with upload counts",
        "operationId": "listTags",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 10, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TagListResponse" }
              }
            }
          }
        }
      }
    },
    "/api/tags/search": {
      "get": {
        "tags": ["Tags"],
        "summary": "Search Tags",
        "description": "Search for tags by name",
        "operationId": "searchTags",
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 10, "maximum": 20 }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/TagSearchResult" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/uploads/{id}/tags": {
      "get": {
        "tags": ["Tags"],
        "summary": "Get Upload Tags",
        "description": "Get all tags associated with an upload",
        "operationId": "getUploadTags",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Upload tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Tag" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Tags"],
        "summary": "Add Tags to Upload",
        "description": "Add tags to an upload. Tag names must be 2-50 characters and contain only letters, numbers, spaces, and hyphens.",
        "operationId": "addUploadTags",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tags"],
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": { "type": "string" },
                    "maxItems": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "tags": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Tag" },
                      "description": "The full, updated list of tags on the upload"
                    },
                    "added": { "type": "integer", "description": "Number of tags newly added (already-present tags are skipped)" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Tags array missing/empty/invalid, too many tags, or invalid tag names",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Not authorized (not the owner)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Upload not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/image/{id}": {
      "get": {
        "tags": ["Media"],
        "summary": "Get Image",
        "description": "Retrieve the full image for an upload",
        "operationId": "getImage",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Image binary data",
            "headers": {
              "Cache-Control": {
                "schema": { "type": "string" },
                "description": "public, max-age=31536000, immutable (1 year, immutable for public images) or private, no-store, must-revalidate (private images)"
              },
              "CDN-Cache-Control": {
                "schema": { "type": "string" },
                "description": "public, max-age=31536000, immutable (1 year, immutable cache at the CDN edge for public images)"
              },
              "ETag": {
                "schema": { "type": "string" },
                "description": "Content hash for caching"
              }
            },
            "content": {
              "image/webp": {},
              "image/jpeg": {},
              "image/png": {},
              "image/gif": {}
            }
          },
          "404": {
            "description": "Image not found or access denied"
          }
        }
      }
    },
    "/api/thumbnail/{id}": {
      "get": {
        "tags": ["Media"],
        "summary": "Get Thumbnail",
        "description": "Retrieve a smaller thumbnail version of an image. Thumbnails are always encoded as WebP.",
        "operationId": "getThumbnail",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Target thumbnail size in pixels, clamped to 50-400. Invalid or missing values fall back to 200.",
            "schema": { "type": "integer", "default": 200, "minimum": 50, "maximum": 400 }
          }
        ],
        "responses": {
          "200": {
            "description": "Thumbnail image",
            "headers": {
              "Cache-Control": {
                "schema": { "type": "string" },
                "description": "public, max-age=31536000, immutable (1 year, immutable for public uploads)"
              },
              "CDN-Cache-Control": {
                "schema": { "type": "string" },
                "description": "public, max-age=31536000, immutable (1 year, immutable cache at the CDN edge for public uploads)"
              }
            },
            "content": {
              "image/webp": {}
            }
          },
          "401": {
            "description": "Private upload: no auth cookie/token present",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Private upload: authenticated but not the owner (no admin override)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/profile": {
      "get": {
        "tags": ["User"],
        "summary": "Get Profile",
        "description": "Get the authenticated user's profile data. The counts object is always included regardless of the type requested.",
        "operationId": "getProfile",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Data to retrieve",
            "schema": { "type": "string", "enum": ["uploads", "votes", "counts"], "default": "uploads" }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProfileResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid type value (must be uploads, votes, or counts)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Not authenticated or invalid token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/user/{username}/uploads": {
      "get": {
        "tags": ["User"],
        "summary": "Get User Uploads",
        "description": "Get public uploads from a specific user",
        "operationId": "getUserUploads",
        "security": [],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 12, "maximum": 50 }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "schema": { "type": "string", "enum": ["date", "votes", "name"], "default": "date" }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Comma-separated list of tag slugs to filter by",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "User's uploads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "username": { "type": "string" },
                        "created_at": { "type": "string", "format": "date-time" }
                      }
                    },
                    "uploads": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Upload" }
                    },
                    "total": { "type": "integer" },
                    "page": { "type": "integer" },
                    "totalPages": { "type": "integer" },
                    "limit": { "type": "integer" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/admin/users": {
      "get": {
        "tags": ["Admin"],
        "summary": "List Users",
        "description": "Get paginated list of all users (admin only)",
        "operationId": "adminListUsers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20 }
          },
          {
            "name": "search",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "User list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AdminUserListResponse" }
              }
            }
          },
          "403": {
            "description": "Admin access required"
          }
        }
      }
    },
    "/api/admin/users/{id}": {
      "delete": {
        "tags": ["Admin"],
        "summary": "Delete User",
        "description": "Delete a user account (admin only)",
        "operationId": "adminDeleteUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted"
          }
        }
      }
    },
    "/api/admin/users/{id}/shadow-ban": {
      "post": {
        "tags": ["Admin"],
        "summary": "Shadow Ban User",
        "description": "Shadow ban a user (their votes no longer count)",
        "operationId": "adminShadowBan",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["isBanned"],
                "properties": {
                  "isBanned": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ban status updated"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RegisterRequest": {
        "type": "object",
        "required": ["action", "email", "username", "password"],
        "properties": {
          "action": { "type": "string", "enum": ["register"] },
          "email": { "type": "string", "format": "email" },
          "username": { "type": "string", "minLength": 3, "maxLength": 30, "pattern": "^[a-zA-Z0-9_]+$" },
          "password": { "type": "string", "minLength": 8 }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["action", "email", "password"],
        "properties": {
          "action": { "type": "string", "enum": ["login"] },
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string" },
          "mfaCode": { "type": "string", "pattern": "^[0-9]{6}$", "description": "Required if MFA is enabled" }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "user": { "$ref": "#/components/schemas/User" },
          "token": { "type": "string", "description": "JWT token" },
          "mfaRequired": { "type": "boolean" },
          "userId": { "type": "string", "format": "uuid", "description": "Present when mfaRequired is true" }
        }
      },
      "AuthCheckResponse": {
        "type": "object",
        "properties": {
          "authenticated": { "type": "boolean" },
          "userId": { "type": "string", "format": "uuid" },
          "isAdmin": { "type": "boolean" },
          "mfaEnabled": { "type": "boolean" },
          "user": { "$ref": "#/components/schemas/User" }
        }
      },
      "ResetPasswordRequest": {
        "type": "object",
        "required": ["token", "password"],
        "properties": {
          "token": { "type": "string" },
          "password": { "type": "string", "minLength": 8 },
          "mfaCode": { "type": "string", "pattern": "^[0-9]{6}$", "description": "Required if MFA is enabled on the account" }
        }
      },
      "ChangePasswordRequest": {
        "type": "object",
        "required": ["currentPassword", "newPassword", "confirmPassword"],
        "properties": {
          "currentPassword": { "type": "string" },
          "newPassword": { "type": "string", "minLength": 8 },
          "confirmPassword": { "type": "string" },
          "mfaCode": { "type": "string", "pattern": "^[0-9]{6}$", "description": "Required if MFA is enabled" }
        }
      },
      "MFASetupResponse": {
        "type": "object",
        "properties": {
          "qrCode": { "type": "string", "description": "Base64 encoded QR code image" },
          "secret": { "type": "string", "description": "TOTP secret for manual entry" },
          "otpauthUrl": { "type": "string", "description": "otpauth:// URI for authenticator apps to configure TOTP automatically" },
          "backupCodes": {
            "type": "array",
            "items": { "type": "string", "pattern": "^[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}$" },
            "minItems": 10,
            "maxItems": 10,
            "description": "10 one-time backup codes formatted as XXXX-XXXX-XXXX-XXXX"
          }
        }
      },
      "ApiToken": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "last_used_at": { "type": "string", "format": "date-time", "nullable": true },
          "expires_at": { "type": "string", "format": "date-time" }
        }
      },
      "ApiTokenCreated": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "token": { "type": "string", "description": "The token value (only shown once)" },
          "name": { "type": "string" },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "username": { "type": "string" },
          "email": { "type": "string", "format": "email" }
        }
      },
      "Upload": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "user_id": { "type": "string", "format": "uuid" },
          "filename": { "type": "string", "nullable": true },
          "original_name": { "type": "string", "nullable": true },
          "description": { "type": "string" },
          "upload_type": { "type": "string", "enum": ["image", "link"] },
          "external_url": { "type": "string", "nullable": true },
          "upvotes": { "type": "integer" },
          "downvote_count": { "type": "integer" },
          "is_private": { "type": "integer", "enum": [0, 1] },
          "created_at": { "type": "string", "format": "date-time" },
          "tags": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } },
          "username": { "type": "string" },
          "stats": {
            "type": "object",
            "description": "Computed vote statistics. Always present on GET /api/upload/{id} responses.",
            "properties": {
              "voteCount": { "type": "integer" },
              "upvotes": { "type": "integer" },
              "downvotes": { "type": "integer" },
              "averageRating": { "type": "number", "nullable": true }
            }
          }
        }
      },
      "UploadRequest": {
        "type": "object",
        "required": ["upload_type", "description"],
        "properties": {
          "upload_type": { "type": "string", "enum": ["image", "image_url", "link"] },
          "description": { "type": "string", "maxLength": 500 },
          "tags": { "type": "string", "description": "Comma-separated tag names (max 10)" },
          "file": { "type": "string", "format": "binary", "description": "Image file (JPEG, PNG, GIF, WebP, max 10MB)" },
          "image_url": { "type": "string", "format": "uri", "description": "URL to image (for image_url type)" },
          "external_url": { "type": "string", "format": "uri", "description": "URL to embed (for link type)" },
          "is_private": { "type": "string", "enum": ["true", "false"] }
        }
      },
      "UploadResponse": {
        "type": "object",
        "properties": {
          "upload": { "$ref": "#/components/schemas/UploadCreated" },
          "embedData": { "type": "object", "description": "Embed data for links" }
        }
      },
      "UploadCreated": {
        "type": "object",
        "description": "The subset of upload fields returned immediately after creation. Fetch GET /api/upload/{id} for the full object including tags, username, and stats.",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "userId": { "type": "string", "format": "uuid" },
          "filename": { "type": "string", "nullable": true },
          "originalName": { "type": "string", "nullable": true },
          "description": { "type": "string" },
          "uploadType": { "type": "string", "enum": ["image", "link"] },
          "externalUrl": { "type": "string", "nullable": true },
          "isPrivate": { "type": "boolean" }
        }
      },
      "DuplicateResponse": {
        "type": "object",
        "properties": {
          "duplicate": { "type": "boolean", "example": true },
          "existingUploadId": { "type": "string", "format": "uuid" },
          "message": { "type": "string" }
        }
      },
      "UploadListResponse": {
        "type": "object",
        "properties": {
          "uploads": { "type": "array", "items": { "$ref": "#/components/schemas/Upload" } },
          "page": { "type": "integer" },
          "limit": { "type": "integer" },
          "total": { "type": "integer", "description": "Total number of matching uploads. Present on /api/uploads/filtered." }
        }
      },
      "VoteRequest": {
        "type": "object",
        "required": ["uploadId", "vote"],
        "properties": {
          "uploadId": { "type": "string", "format": "uuid" },
          "vote": { "type": "string", "enum": ["fucks", "does_not_fuck"] }
        }
      },
      "VoteResponse": {
        "type": "object",
        "properties": {
          "vote": { "$ref": "#/components/schemas/VoteResult" }
        }
      },
      "VoteResult": {
        "type": "object",
        "properties": {
          "voteId": { "type": "string", "format": "uuid" },
          "userId": { "type": "string", "format": "uuid" },
          "uploadId": { "type": "string", "format": "uuid" },
          "vote": { "type": "string", "enum": ["fucks", "does_not_fuck"] }
        }
      },
      "Vote": {
        "type": "object",
        "description": "Shape of vote entries returned in GET /api/profile?type=votes",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "upload_id": { "type": "string", "format": "uuid" },
          "vote": { "type": "string", "enum": ["fucks", "does_not_fuck"] },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "AnonymousVoteRequest": {
        "type": "object",
        "required": ["uploadId", "vote", "clientFingerprint"],
        "properties": {
          "uploadId": { "type": "string", "format": "uuid" },
          "vote": { "type": "string", "enum": ["upvote", "downvote"] },
          "clientFingerprint": { "type": "string", "description": "Browser fingerprint hash" }
        }
      },
      "AnonymousVoteResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "alreadyVoted": { "type": "boolean" },
          "vote": { "type": "string", "enum": ["upvote", "downvote"], "description": "Present when success is true" },
          "existingVote": { "type": "string", "enum": ["upvote", "downvote"], "description": "Present when alreadyVoted is true" },
          "message": { "type": "string", "description": "Present when alreadyVoted is true" }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "slug": { "type": "string" }
        }
      },
      "TagWithCount": {
        "allOf": [
          { "$ref": "#/components/schemas/Tag" },
          {
            "type": "object",
            "properties": {
              "upload_count": { "type": "integer" }
            }
          }
        ]
      },
      "TagSearchResult": {
        "allOf": [
          { "$ref": "#/components/schemas/TagWithCount" },
          {
            "type": "object",
            "properties": {
              "created_at": { "type": "string", "format": "date-time" }
            }
          }
        ]
      },
      "TagListResponse": {
        "type": "object",
        "properties": {
          "tags": { "type": "array", "items": { "$ref": "#/components/schemas/TagWithCount" } },
          "page": { "type": "integer" },
          "limit": { "type": "integer" }
        }
      },
      "ProfileResponse": {
        "type": "object",
        "properties": {
          "uploads": { "type": "array", "items": { "$ref": "#/components/schemas/Upload" } },
          "votes": { "type": "array", "items": { "$ref": "#/components/schemas/Vote" } },
          "counts": {
            "type": "object",
            "description": "Always included in the response, regardless of the type query parameter.",
            "properties": {
              "uploads": { "type": "integer" },
              "votes": { "type": "integer" }
            }
          }
        }
      },
      "AdminUserListResponse": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string", "format": "uuid" },
                "username": { "type": "string" },
                "email": { "type": "string" },
                "is_admin": { "type": "boolean" },
                "is_shadow_banned": { "type": "boolean" },
                "has_eleven_access": { "type": "boolean" },
                "created_at": { "type": "string", "format": "date-time" },
                "upload_count": { "type": "integer" },
                "vote_count": { "type": "integer" }
              }
            }
          },
          "page": { "type": "integer" },
          "limit": { "type": "integer" },
          "total": { "type": "integer" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "statusCode": { "type": "integer" },
          "statusMessage": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token or API token"
      },
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "auth-token",
        "description": "Session cookie"
      }
    }
  }
}
